@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding-left: 60px;
    padding-right: 60px;
    gap: 100px;
}

nav {
    font-family: "Quantico", sans-serif;
    font-size: larger;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

nav a:hover{
    color: #9381d3;
}

.icon_header{
    display: flex;
    gap: 10px;
}


footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding-left: 60px;
    padding-right: 60px;
    font-family: "Quantico", sans-serif;
    display: flex;
}

.icon_footer{
    display: flex;
    gap: 10px;
}

.icon_footer img{
    width: 40px;
    height: 40px;
}

.links_footer{
    font-family: "Quantico", sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px 10px;
    align-items: center;
}

footer p{
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

footer a:hover{
    color: #9381d3;
}