@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Playfair+Display:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    font-family: "Quantico", sans-serif;
}

main{
    background-image: url('/imagens_site_de_noticias/imagem\ de\ fundo.jpg');
    padding: 30px 60px;
    display: flex;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding-left: 60px;
    padding-right: 60px;
    gap: 100px;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

nav a:hover{
    color: #9381d3;
}

.icon_header{
    display: flex;
    gap: 10px;
}

.noticia_principal h2{
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(70deg, #1AA8EF 0%, #0F6189 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.noticia_principal ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* duas colunas iguais */
  gap: 15px 40px;                         /* linha | coluna */
  padding-left: 25px;
  margin-top: 10px;
}

.noticia_principal li {
  font-size: 26px;
  font-weight: 600;
  background: linear-gradient(70deg, #405AB0 0%, #1B264A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

main section:first-child {
  width: 55%;
  padding-right: 5px;
  border-right: 1px solid white;
}

.retangulo-noticia{
    width: 600px;
    border-top: 1px solid white;
    margin-top: 30px;
    display: flex;
}

.quadrado-noticia{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    color: #DCD9C9;
}

.quadrado-noticia h3{
    font-size: 14px;
    font-weight:bolder;
    margin-right: 20px;
}

ul li::marker {
  color: #0F6189;
}

.quadrado-noticia ul{
    margin-left: 15px;
}

.quadrado-noticia img{
    width: 180px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

main section:nth-child(2)   {
  width: 25%;
  padding: 0 10px;
  border-right: 1px solid white;
}

.retangulo-noticia2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quadrado-noticia2{
    width: 200px;
    height: 250px;
    color: #DCD9C9;
}

.quadrado-noticia2 img{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.quadrado-noticia2 ul li{
    margin-left: 15px;
}

#hiroshi{
    margin-top: 50px;
}

main section:nth-child(3) {
  width: 20%;
  padding: 0 20px;
}

.propaganda{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.propaganda img{
    width: 200px;
    margin-top: 10px;
}

.propaganda button {
    background-color: #FD5F00;
    border: none;
    padding: 15px 30px;
    border-radius: 77px;
    transition: background-color 0.3s ease;
    -webkit-box-shadow: 3px 5px 15px 0px #000000; 
    box-shadow: 3px 5px 15px 0px #000000;
}

.propaganda button:hover {
    background-color: #eb6e20;
}

.propaganda button a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.7);
}

footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.icon_footer{
    display: flex;
    gap: 10px;
}

.icon_footer img{
    width: 40px;
    height: 40px;
}

.links_footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px 10px;
    align-items: center;
}

footer p{
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

footer a:hover{
    color: #9381d3;
}

