* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    background-color: #000;
}

nav .links {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    display: flex;
    gap: 30px;
}

nav .itens_header{
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: aliceblue;
}

nav p{
    color: aliceblue;
}