@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Playfair+Display:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    font-family: "Quantico", sans-serif;
}

main{
    padding: 30px 60px;
    display: flex;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding-left: 30px;
    padding-right: 10px;
    gap: 150px;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

nav a:hover{
    color: #9381d3;
}

.icon_header{
    display: flex;
    gap: 10px;
}

.noticia_principal h2{
    font-size: 40px;
}

.noticia_principal ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* duas colunas iguais */
  gap: 15px 40px;                         /* linha | coluna */
  padding-left: 25px;
  margin-top: 10px;
}

.noticia_principal li {
  font-size: 26px;
  font-weight: 600;
}

main section:first-child {
  width: 55%;
  padding-right: 5px;
  border-right: 1px solid black;
}

.retangulo-noticia{
    width: 600px;
    border-top: 1px solid black;
    margin-top: 30px;
    display: flex;
}

.quadrado-noticia{
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.quadrado-noticia h3{
    font-size: 14px;
    font-weight:bolder;
}

.quadrado-noticia ul li::marker {
  color: #0F6189;
}

.quadrado-noticia ul{
    margin-left: 15px;
}

.quadrado-noticia img{
    width: 180px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

main section:nth-child(2)   {
  width: 25%;
  padding: 0 30px;
  border-right: 1px solid black;
}

.retangulo-noticia2{
    width: 100%;
}

.quadrado-noticia2{
    width: 200px;
    height: 250px;
}

.quadrado-noticia2 img{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

main section:nth-child(3) {
  width: 20%;
  padding: 0 20px;   
}

.propaganda img{
    width: 250px;
    margin-top: 100px;
}

footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    color: aliceblue;
}
