@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Playfair+Display:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    font-family: "Quantico", sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding-left: 10px;
    padding-right: 10px;
    gap: 130px;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

nav a:hover{
    color: #9381d3;
}

.icon_header{
    display: flex;
    gap: 20px;
}

footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    color: aliceblue;
}
